h1 {
      color: red;
      background-color:orange;
      text-align:center;
}
 ul{
      background-color:black;
}
table{
      background-color:red;
}
form{
      background-color:green;
      text-align:center;
}