h1 {
      color: red;
      background-color:none;
      text-align:center;
}
 ul{
      background-color:black;
}
table{
      background-color:red;
}
form{
      background-color:green; 
      border: yellow, solid, 10px;
      margin-top: 10px;
      text-align:center-left;
      padding: 30px 100px 10px 320px;
      
}
body{
      background-color: lightblue;
}
#box {
      text-align: center;
}
#navcontainer{
  float:right;
}
nav, ul li, a{
  background-color: green;
  text-align:centre;
  display:inline-block;
}
header{
  background-color:dark-blue;
}
